apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}
rules:
- apiGroups: ["azuredevops.krateo.io"]
  verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
  resources:
  - connectorconfigs
  - gitrepositories 
  - pipelines
  - teamprojects
  - runs
  - pipelinepermissions
  - feeds
  - queues

- apiGroups: ["azuredevops.krateo.io"]
  verbs: ["get", "patch", "update"]
  resources:
  - gitrepositories/status
  - pipelines/status
  - teamprojects/status
  - runs/status
  - pipelinepermissions/status
  - feeds/status
  - queues/status
  

- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "watch"]

- apiGroups: [""]
  resources: ["events"]
  verbs: ["create", "patch", "update"]
